meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
title= "piring"
meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

if NODE_ENV == 'production' || NODE_ENV == 'staging'
  link(rel="stylesheet", type="text/css", href="stylesheets/app.min.css")
else
  link(rel="stylesheet", type="text/css", href="stylesheets/app.css")